body{
    margin: 0 auto;
    padding: 0 100px 0 100px;
}
a{
    text-decoration: none;
}
.main-header{
    background-color: green;
}
.main-header-nav{
    display: flex;
    justify-content: space-between;
}
.site-navigation{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    width: 500px;
    list-style-type: none;
}
.site-navigation-item{
    
}
.pad-top-bot{
    margin: 0;
    padding: 20px 0 20px 0;
}
.visually-hidden{
    visibility: hidden;
}
h1{
    text-transform: uppercase;
    width: 400px;
}
.description-block-text{
    width: 45%;
}
.description-block{
    display: flex;
    padding-top: 100px;
}
h2{
    position: relative;
    padding-left: 50px;
    text-transform: uppercase;
    font-size: 32px;
}
.title-h2::before{
    width: 37px;
    height: 2px;
    background-color: #000000;
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
}
.description-block img{
    padding-right: 150px;
}
/*секция тарифы*/
.tariffs-block-list{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 20px;
    list-style-type: none;
    padding: 0;
}
.tariffs-block-item{
   background-color: lightblue; 
    padding: 30px;
}

